@font-face {
    font-family: "citrixnewsans-regular";
    src: url("/_static/fonts/eot/CitrixNewSans-Regular.eot") format("eot"), url("/_static/fonts/woff/CitrixNewSans-Regular.woff") format("woff"), url("/_static/fonts/woff2/CitrixNewSans-Regular.woff2") format("woff2"), url("/_static/fonts/ttf/CitrixNewSans-Regular.ttf") format("truetype"), url("/_static/fonts/otf/CitrixNewSans-Regular.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-bold";
    src: url("/_static/fonts/eot/CitrixNewSans-Bold.eot") format("eot"), url("/_static/fonts/woff/CitrixNewSans-Bold.woff") format("woff"), url("/_static/fonts/woff2/CitrixNewSans-Bold.woff2") format("woff2"), url("/_static/fonts/ttf/CitrixNewSans-Bold.ttf") format("truetype"), url("/_static/fonts/otf/CitrixNewSans-Bold.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-bolditalic";
    src: url("/_static/fonts/eot/CitrixNewSans-bolditalic.eot") format("eot"), url("/_static/fonts/woff/CitrixNewSans-bolditalic.woff") format("woff"), url("/woff2/_static/fonts/CitrixNewSans-bolditalic.woff2") format("woff2"), url("/_static/fonts/ttf/CitrixNewSans-bolditalic.ttf") format("truetype"), url("/_static/fonts/otf/CitrixNewSans-bolditalic.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-italic";
    src: url("/_static/fonts/eot/CitrixNewSans-Italic.eot") format("eot"), url("/_static/fonts/woff/CitrixNewSans-Italic.woff") format("woff"), url("/_static/fonts/woff2/CitrixNewSans-Italic.woff2") format("woff2"), url("/_static/fonts/ttf/CitrixNewSans-Italic.ttf") format("truetype"), url("/_static/fonts/otf/CitrixNewSans-Italic.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-light";
    src: url("/_static/fonts/eot/CitrixNewSans-Light.eot") format("eot"), url("/_static/fonts/woff/CitrixNewSans-Light.woff") format("woff"), url("/_static/fonts/woff2/CitrixNewSans-Light.woff2") format("woff2"), url("/_static/fonts/ttf/CitrixNewSans-Light.ttf") format("truetype"), url("/_static/fonts/otf/CitrixNewSans-Light.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-lightitalic";
    src: url("/_static/fonts/eot/CitrixNewSans-LightItalic.eot") format("eot"), url("/_static/fonts/woff/CitrixNewSans-LightItalic.woff") format("woff"), url("/_static/fonts/woff2/CitrixNewSans-LightItalic.woff2") format("woff2"), url("/_static/fonts/ttf/CitrixNewSans-LightItalic.ttf") format("truetype"), url("/_static/fonts/otf/CitrixNewSans-LightItalic.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-semibold";
    src: url("/_static/fonts/eot/CitrixNewSans-SemiBold.eot") format("eot"), url("/_static/fonts/woff/CitrixNewSans-SemiBold.woff") format("woff"), url("/_static/fonts/woff2/CitrixNewSans-SemiBold.woff2") format("woff2"), url("/_static/fonts/ttf/CitrixNewSans-SemiBold.ttf") format("truetype"), url("/_static/fonts/otf/CitrixNewSans-SemiBold.otf") format("opentype"); }
  @font-face {
    font-family: "citrixnewsans-semibolditalic";
    src: url("/_static/fonts/eot/CitrixNewSans-SemiBoldItalic.eot") format("eot"), url("/woff/_static/fonts/CitrixNewSans-SemiBoldItalic.woff") format("woff"), url("/_static/fonts/woff2/CitrixNewSans-SemiBoldItalic.woff2") format("woff2"), url("/_static/fonts/ttf/CitrixNewSans-SemiBoldItalic.ttf") format("truetype"), url("/_static/fonts/otf/CitrixNewSans-SemiBoldItalic.otf") format("opentype"); }


/* go on with normal style definitions */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,input[type="text"]{
    font-family: 'citrixnewsans-regular';
}

.col-sm-6 {
    margin-top: -60px;
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.hero{
    overflow: hidden;
    min-height: 303px;
    min-width: 1919px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
body {
  /* Margin bottom by footer height */
    min-height: 100%;
    width: 100%;
    padding: 0;
    font: 16px "citrixnewsans-regular", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #000;
    border-top: 5px solid #000; }
    @media screen and (max-width: 47.9375rem) {
      body {
        border-top-width: 5px; } 
}

.banner {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 18px;
}

.footer {
  text-align: center;
  line-height: 30px;
  bottom: -150px;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  display: inline-block;
  height: auto;
}

.navbar-default {
    background-color: #0F0F0F;
    border-color: #0F0F0F;
}

.navbar-brand-img {
  height: 34px;
}

.navbar-nav>li>a {
  line-height: 34px;
}

.navbar-nav-right-icon {
  font-size: 2.5rem;
  margin-right: 5px;
  vertical-align: middle;
}

.banner-master {
  background-color: rgb(255, 255, 255);
  background-size: cover;
}

.banner-master-title {
  text-align: center;
  color: #fff !important;
  font-size: 3rem !important;
}

.products-title {
  text-align: center;
  color: gray;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.products-item {
  margin-top: 20px;
}

.products-item-title {
  background: darkslategray;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  font-weight: normal;
  font-size: 1.5rem;
}

.products-container h3 {
  color: #656464;
  font-size: 21px;
}

.products-container ul li,
.products-container ul li a {
  color: rgb(35, 170, 226);
  font-size: 15px;
}

.products-container ul li {
  margin-bottom: 10px;
  position: relative;
  margin-left: -40px;
  list-style-type: none
}

.body {
  margin-bottom: 30px;
}

.products-item-links {
  padding-left: 0px;
  margin: 20px 0;
  text-align: center;
}

.products-item-links > li {
  margin: 5px 0;
  list-style-type: none;
}

.footer {
  background-color: black;
  text-align: center;
  line-height: 30px;
}

.footer .text-muted {
  margin: 0;
  color: #555;
}

.footer-heading {
  color: #575757;
  float: left; 
  font-family: citrixnewsans-bold;
}

.footer-links {
  color: white;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 160px;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border-top: 15px solid #63666a;
  border-left: 1px solid #63666a;
  border-right: 1px solid #63666a;
  border-bottom: 1px solid #63666a;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}

.box-shadow {
  box-shadow: 0 0 0 0 #d7d7d7;
}

.box-shadow:hover {
transition: all 0.2s ease-in;
box-shadow: 0px 4px 8px #b1b3b3;
top: -4px;
border: 1px solid #cccccc;
background-color: white;
color: black !important;
}

.card-body {
  flex: 1 1 auto;
  padding: 4.25rem;
}

.card-title {
  font-family: "citrixnewsans-regular";
  margin-bottom: 1rem;
  text-align: center !important;
  color: #656464;
  font-weight: bold;
}

.card-title:hover{
color: black;
}

.btn-primary {
  color: #fff;
  background-color: #22AAE2;
  border-color: #22AAE2;
}

.btn 
{
  cursor: pointer;
}

.text-center {
  text-align: center !important;
}

.inline-logo-title {
  font-size: 20px;
  position: relative;
  top: 2px;
  color: white;
}

a:hover {
  color: #2071C5 !important;
  text-decoration: none;
}

.push-down-desktop-mode {
  margin-bottom: 20px;
  margin-top: 35px;
}

.thumbnail-product-circle {
  float: left;
  position: relative;
  top: 15px;
}

.inline-style ul {
  float: left;
}

.inline-style li {
  list-style-type: none !important;
  text-align: left;
  float: none;
  margin-right: 10px;
  position: relative;
}

.inline-style li a {
  font-size: 13px;
  color: white;
}

.icons li a i {
  font-size: 30px
}

.icons {
  display: flex;
  margin-left: -40px;
}

.copyright {
  padding-top: 107px;
}

@media screen and (min-width: 768px) {}
.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
}

@media (max-width: 600px) {
.icons {
    margin-left: 0px;
    margin-top: 10px;
    padding-left: 0px;
}
}
@media screen and (min-device-width: 360px) {
 /* .push-down-desktop-mode {
    margin-bottom: 0px !important
  }*/
}

/* Portrait */

@media screen and (min-device-width: 400px) and (orientation: portrait) {
 /* .push-down-desktop-mode {
    margin-bottom: 0px !important
  }*/
}

/* Landscape */

@media screen and (device-width: 400px) and (orientation: landscape) {

}

@media (max-width: 400px) {
  .footer {
    height: 300px !important;
    margin-top: 100px !important
  }
  .inline-logo-title {
    font-size: 13px !important;
    position: relative;
    top: 0px;
  }
  .navbar-brand-img {
    height: 20px
  }
  .footer {
    height: auto !important;
    bottom:-250px;
  }
  .banner-master p {
    font-size: 15px !important
  }
   .push-down-desktop-mode {
    margin-bottom: 0px !important
  }
  .hero {
      overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .push-down-desktop-mode {
    margin-bottom: 0px !important
  }
}

@media (max-width: 600px) {
  .col-sm-6 {
    margin-top: 0px;
  }
  .footer-column {
    margin-top: 10px;
    bottom: auto;
  }
  .copyright {
    padding-top: 0px;
  }
}